@font-face {
  font-family: superNintendo;
  src: url("./assets/SNES Italic.ttf");
}

@font-face {
  font-family: pressStart;
  src: url("./assets/PressStart2P.ttf");
}

@font-face {
  font-family: menlo;
  src: url("./assets/Menlo.ttc");
}

ul { 
  list-style: none;
}

p {
  color: #fff;
}

h1 {
  color: red;
  font-family: superNintendo;
  font-size: 44px;
  margin: 0;
}

.header {
  width: 800px;
  margin: auto;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.game-container {
  margin: auto;
  position: relative;
  width: 800px;
}

.splash-screen {
  position: absolute;
  top: 0;
  background-image: url("./assets/bricksx64.png");
  background-repeat: repeat;
  width: 800px;
  height: 600px;
}

.splash-scene {
  width: 100%;
  height: 300px;
}

#splashBoy {
  width: 200px;
  height: 200px;
}

#splashFireball {
  width: 175px;
  height: 100px;
  position: absolute;
  top: 65px;
  left: 305px;
}

#splashGhost {
  float: right;
  width: 175px;
  padding: 20px;
}

.hide {
  display: none;
}

#playButton {
  top: 210px;
  right: 35%;
  position: absolute;
  color: #0A5DE2;
  font-family: pressStart;
  font-size: 44px;
  border: 2px solid white;
  padding: 30px;
  background: #000000;
}

#playButton:hover {
  cursor: pointer;
  color: #76d645;
}

.game-info {
  width: 100%;
}

.control-info {
  position: absolute;
  bottom: 40px;
  left: 210px;
  width: 45%;
  height: 200px;
  border: 2px solid white;
  background: #000000;
}

.control-header {
  color: #0A5DE2;
  font-family: pressStart;
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

.controls {
  margin-top: 30px;
}

.controls li {
  color: #fff;
  font-family: menlo;
  font-size: 22px;
  margin: 20px 0;
}

body {
  background: #000;
}

canvas {
  margin: auto;
  display: block;
}

.sound-control {
  display: flex;
  flex-direction: row;
}

.switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 10px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #76d645;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border-radius: 34px; */
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  /* border-radius: 50%; */
}

input:checked + .slider {
  background-color: #ccc;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
